<div class="container my-5">
  <div class="row">
    <h2 class= "col-12 font-weight-bold text-danger mb-4"><%= @question.title %></h2>
    <div class="col-1 d-flex justify-content-center">
      <%= render partial: "votes/vote", locals:{var: @question, path: question_votes_path(@question)}  %>
    </div>
    <div class="col-11 text-justify question">
      <%= markdown(@question.content) %>
      <div class="q-com mt-5">
        <div id="quecom-list">
          <%= render  @question.comments %>
        </div>
        <% if user_signed_in? %>
        <div class="quecom-form">
          <%= render  "comments/form", commentable: @question %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <hr style="color: black; background-color: black; height: 0.1em;" />
  <h2 class= "col-12 font-weight-bold text-danger mr-4 ">Respuestas</h2>
  <% if user_signed_in? %>
    <div class="ans-form col-12">
      <%= render 'answers/form' %>
    </div>
  <% end %>
  <div class="ans-list">
    <%= render @question.answers.order(created_at: :desc) %>
  </div>
</div>
