<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand"><%= link_to "FlowOverstack", root_path, class: "text-white font-weight-bold" %></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <%= render 'layouts/user_signed' %>
    </div>

    <%= form_tag questions_path, method: :get, class: "form-inline" do %>
      <%= text_field_tag :search, nil, class: "form-control mx-2", placeholder: "Buscar"%>
      <%= submit_tag "Buscar", class: "btn btn-outline-primary my-2 my-sm-0"%>
    <% end %>
    </div>
</nav>
